<link rel="stylesheet" href="../css/styles.css">
<h1>Edit product page</h1>
<div class="container">
  <div class="data-entry">
    <form class="row p-3">
      <input type="text" id="id" name="id" value="{{ product.id }}">
      <input class="form-control m-1" type="text" name="title" value="{{ product.title}}" id="title" />
      <input class="form-control m-1" type="text" name="description" value="{{ product.description }}"
        id="description" />
      <input class="form-control m-1" type="number" name="price" value="{{product.price}}" id="price" />
      <input class="form-control m-1" type="number" name="stock" value="{{product.stock}}" id="stock" />
      <input type="submit" value="Send" class="btn btn-primary" id="send" />
    </form>
  </div>
</div>
<script src="/js/edit-products.js"></script>